QWidget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#main_window {
  background-color: rgba(240, 240, 240, 0.5);
}

#left_widget {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 10px;
}

#mHeader {
  font-weight: bold;
  font-size: 15px;
  color: black;
}

#mRightWidget {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  padding: 10px;
}

#mLoadingButton {
  border: none;
  background-color: transparent;
}

#infoLabel {
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  color: black;
}

#chapitersWidget {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

#chapitersListWidget {
  border: none;
  padding: 10px 0;
}

#buttonsWidget:disabled {
  color: black;
}

